<p style="color: green"><%= notice %></p>

<div class="mx-3">
  <h2><%= link_to "Acceuil", root_path, class:"btn btn-secondary" %></h2>
</div>

<h1 class="mx-3"><%= link_to "Ajouter une élève", new_student_path, class:"btn btn-outline-primary" %></h1>

<div class="d-flex justify-content-center">
  <div id="students">
    <% @students.each do |student| %>
      <%= render student %>
      <p>
        <%= link_to "Voir+", student, class:"btn btn-primary" %>
      </p>
    <% end %>
  </div>
</div>
