<div class="d-flex justify-content-center">
  <%= form_with(model: niveau) do |form| %>
    <% if niveau.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(niveau.errors.count, "error") %> prohibited this niveau from being saved:</h2>

        <ul>
          <% niveau.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :nom, style: "display: block" %>
      <%= form.text_field :nom, class:"form-control col-md-4"  %>
    </div>

    <!--div class="form-group col-md-4">
      <%#= form.label :etablissement_id, style: "display: block" %>
      <%#= form.collection_select :etablissement_id, Niveau.order(:id), :id, :nom, class:"form-control"  %>
    </div -->

    <div class="form-group mt-2">
      <%= form.submit "Valider", class:"btn btn-primary" %>
    </div>
  <% end %>
</div>